body{
    
    background-color: #000;
    color: #990000;
	font-size: 25px;
    
}

input{

	background-color: #333;
	color: #fff;
	border: 1.5px solid red;

}

.error{

	display: inline-block;
	background-color: #FF5959;
	border: 1px solid #F00;
	color: black;

}